body{
    margin: 0%;
}

.top-banner{
    background-color: rgb(0, 166, 255);
    background-image: url("/img/pattern.png");
    height: 90px;
    background-size: 300px;

}

.div-logo{
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    padding-top: 45px;
}

.logo {
    width: 20%;
}

.page-content{
    width: 1000px ;
    margin: 0 auto;
}

.page-title{
    margin-bottom: 0%;
    font-size: 25px;
}

h1{
    margin-bottom: 0%;
    margin-top: 20px;
}

#blue-text{
    color: skyblue;
}

.title-data{
    margin-bottom: 20px;
    color: grey;
}

.sottotitoli{
    margin: auto;

}

#highlight{
    background-color: yellow;
}

#list{
    margin-top: 25px;
}
.list-item{
    padding-left: 15px;
}

th{
    padding: 20px;
    color: white;
}

td{
    padding: 15px;
}

#tr-thead{
    background-color: rgb(0, 136, 255);
    
}

#tr-tbody{
    background-color: skyblue;
}

footer{
    width: 1000px;
    margin: 0 auto;
}

.testo1{
    width: 300px;
    height: 120px;
    background-image: url("/img/monitor.jpg");
    background-repeat: no-repeat;
    background-size: 60%;
}

.testo2{
    width: 300px;
    height: 150px;
    background-image: url("/img/graph.jpg");
    background-repeat: no-repeat;
    background-size: 60%;
}